.Main {
    height: 100%;
    position: relative;
}

.Content {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.Content > .Button {
    max-width: 80%;
    margin: 0 auto;
}

.MainAddPool {
    position: absolute !important;
    bottom: 20px;
    right: 20px;
}

.MainMint {
    position: absolute !important;
    bottom: 90px;
    right: 20px;
}

:root {
    --toastify-color-progress-success: #63af79 !important;
    --toastify-icon-color-success: #63af79 !important;;
}
