.Mint {
    padding: 40px;
    min-width: 400px;
}

.MintTitle {
    text-align: center;
    color: #024346;
}

.MintButton {
    margin-top: 20px !important;
    width: 100%;
}

.MintError {
    margin-bottom: 20px;
}
